################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/bin
/WebApp/obj/Debug
/ServiceLib.Contractd/obj/Debug
/ServiceLib.Contractd/bin/Debug
/ServiceLib/obj/Debug
/ServiceLib/bin/Debug
/.vs
/TrustExchangeWebApp/obj/Debug
/TrustExchangeWebApp/bin
/ServiceLib.Contractd/bin/Release
/ServiceLib.Contractd/obj/Release
/TrustExchangeWebApp/obj/Release/Package
/TrustExchangeWebApp/obj/Release
/ServiceLib/bin/Release
/ServiceLib/obj/Release
/packages/Microsoft.Azure.KeyVault.Core.1.0.0
/packages/Microsoft.Data.Edm.5.8.1
/packages/Microsoft.Data.OData.5.8.1
/packages/Microsoft.Data.Services.Client.5.8.1
/packages
